{{ partial "header.html" . }}
            <h1>Post archive</h1>

            <img src="https://nfalcone.net/images/nextstation2.gif" width="300" height="206" style="float: right; margin:
10px;" />
<p>All Blog Posts:</p>
</br>
            <ul>
            {{ range .Data.Pages.ByPublishDate }}
                {{ if eq .Section "blog" }}
                    {{ partial "li.html" . }}
                {{ end }}
            {{ end }}
            </ul>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
{{ partial "footer.html" . }}

