<div id="footer">
all works licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</br>
Site last generated:   {{ .Now }}
</div>
