<!DOCTYPE html>
<html>

<head>

<meta name='viewport' content='width=device-width, initial-scale=1.0'>

<meta name="description" content="Nick's site about stuff and things.">  

<link rel="stylesheet" type="text/css" href="/css/default.css">

<link type="text/plain" rel="author" href="/humans.txt" />

<title>{{ .Title }} - nfalcone.net</title> 
