{{ partial "header.html" . }}
            <h1>Home</h1>

            <img src="https://nfalcone.net/images/nextstation2.gif" width="300" height="206" style="float: right; margin: 
10px;" />

<p>Welcome to my blog/site/thing!</p>
<p>Some general points of interest are located above</p>
<p>Some recent blog posts:</p>
</br>
<ul>
    {{ range first 4 .Site.Pages }}
    {{if eq .Type "blog" }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a>, {{ .Date.Format "02 Jan, 2006" }}</li>
    {{ end }}
    {{ end }}
</ul>
</br>
<p>For all posts from the beginning of time <a href="/blog/index.html">click here</a> for the archive</p>
</br>
</br>
</br>
</br>
{{ partial "footer.html" . }}
